In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [2]:
df = pd.read_csv(r"C:\Users\sunan\Downloads\THESIS\ML_FINAL_MODEL\DATASET_NANdropped\ML_Final_modeldata_nandropped.csv")
df.head()

,Years,Population,Total CO2 Emissions(kt),Methane emissions (kt of CO2 equivalent),Nitrous oxide emissions (thousand metric tons of CO2 equivalent),Total greenhouse gas emissions (kt of CO2 equivalent)
0,1971,65733076.0,43776.646,86454.8,9460.425,107540.625
1,1972,66997968.0,7007.637,88057.2,9934.415,109807.265
2,1973,68118479.0,9094.160,88622.8,10077.418,111165.318
3,1974,69248216.0,9273.843,87762.2,9780.097,110459.427
4,1975,70542557.0,9655.211,90812.2,10568.644,115099.304

In [3]:
df = df.set_index('Years')
df.head()

,Population,Total CO2 Emissions(kt),Methane emissions (kt of CO2 equivalent),Nitrous oxide emissions (thousand metric tons of CO2 equivalent),Total greenhouse gas emissions (kt of CO2 equivalent)
Years,,,,,
1971,65733076.0,43776.646,86454.8,9460.425,107540.625
1972,66997968.0,7007.637,88057.2,9934.415,109807.265
1973,68118479.0,9094.160,88622.8,10077.418,111165.318
1974,69248216.0,9273.843,87762.2,9780.097,110459.427
1975,70542557.0,9655.211,90812.2,10568.644,115099.304

In [6]:
df.plot(kind='density', subplots=True, layout = (2,2), sharex = False, figsize = (5,5))

ValueError: Layout of 2x2 must be larger than required size 5